[Server]
host = {{ gns3s_host }}
port = {{ gns3s_port }}
images_path = {{ gns3s_images_path }}
projects_path = {{ gns3s_projects_path }}
appliances_path = {{ gns3s_appliances_path }}
configs_path = {{ gns3s_configs_path }}
report_errors = {{ gns3s_report_errors }}
[Qemu]
enable_kvm = {{ gns3s_enable_kvm }}
require_kvm = {{ gns3s_require_kvm }}
