[Unit]
Description=GNS3 server
#Wants=sys-devices-virtual-net-tun1194.device
#After=sys-devices-virtual-net-tun1194.device
After=openvpn.service
[Service]
Type=forking
User=gns3
Group=gns3
PermissionsStartOnly=true
#ExecStartPre=/usr/sbin/tun.sh
ExecStartPre=/bin/mkdir -p /var/log/gns3 /var/run/gns3
ExecStartPre=/bin/chown -R gns3:gns3 /var/log/gns3 /var/run/gns3
ExecStart=/usr/bin/gns3server --log /var/log/gns3/gns3.log --pid /var/run/gns3/gns3.pid --daemon
Restart=on-abort
PIDFile=/var/run/gns3/gns3.pid
[Install]
WantedBy=multi-user.target
